<footer class="page-footer font-small diretos-copy-color pt-4">

    <div class="container">
        <div class="row">
            <div class="col md-12 d-flex justify-content-center">
                <h4 class="text-light py-0 my-0">Me segue nas redes sociais</h4>
         </div>
        </div>

        <div class="row">
            <div class="col md-12 d-flex justify-content-center">
                
                <ul class="social-network">
                    <li>
                        <a href="https://www.facebook.com/camilabazante/" target="_blank" class="icoFacebook">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/camilabazante/" target="_blank" class="icoInstagram">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="hhttps://www.linkedin.com/in/camila-bazante-6ab411226/" target="_blank" class="icoLinkedin">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>
                    </li>

                </ul>
            </div>
        </div>

    </div>

    <div class="footer-copyright rodape-color-laranja text-center py-3">
        <span class="text-light"> Todos os direitos reservados: Camila Bazante © </span>

    </div>

</footer>
