ul.social-network{
    list-style: nome;
    padding: 0;
}

ul.social-network li{
    display: inline;
    margin: 0;
    padding: 0px;
}

.fa{
    font-size: 20pt;
    color: rgb(196, 196, 187);
    padding: 0 10px;
}

.fa-facebook-square:hover{
    color: rgb(8, 8, 8);
}

.fa-instagram:hover{
    color: rgb(24, 24, 23);
}

.fa-linkedin-square:hover{
    color: rgb(26, 25, 24);
}

.rodape-color-laranja{
    background-color: rgba(90, 172, 80, 0.808) !important;
}

.diretos-copy-color{
    background-color: rgb(41, 77, 33);
}