#img-bg{
    background-image: url('https://blog.portalpos.com.br/app/uploads/2021/06/produtividade-768x512.jpg');

    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;



}
